.scroll-horizontal {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    scroll-snap-type: x mandatory;
}

.scroll-item {
    flex: 0 0 auto;
    border-width: 0.5rem;
    border-style: solid;
    border-color: #58521b;
}

.main-text {
    white-space: pre-wrap;
}

#collapse-test-button {
    background-color: #6d6200;
    color: #fff;
}

#collapsed-section {
    background-color: #e11a81;
    display: none;
}

#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    background-color: rgb(145, 149, 152);
    z-index: 1;

    display: none;
/*
    width: 80%;
    max-height: 80%;
    */
    width: 80vh;
    height: 100vh;

    flex-direction: column;

    border-width: 0.5rem;
    border-style: solid;
    border-color: rgb(11, 110, 110);
    
}

#pop-up-text {
    overflow-y: scroll;
    flex: 1;
}

#topper {
    width: 100%;
}

#quick-pose {
    max-width: 50%;
    display: block;
}

#titles {
    max-width: 40%;
    float: left;
}

#titles img {
    max-width: 100%;
}

@media (max-width: 600px) {
    #titles {
        max-width: 100%;
        float: none;
    }
}